nextcord
PyNaCl
coloredlogs
beautifulsoup4
argparse
python-dotenv
praw
asyncpraw
requests>2.28.1
emoji
pillow
pyowm
sympy
imageio
colorthief
aiohttp
matplotlib
astral
pytz
funcy
pycaw
pint
tabulate
EdgeGPT
BingImageCreator-fork
snakeviz
alt-profanity-check

moviepy
moviepy[optional]
pygame

onnxruntime-gpu
rembg[gpu]